VITE_API_URL=http://localhost:8000
MAILCATCHER_HOST=http://localhost:1080
VITE_OSM_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_OSM_ATTRIBUTION=<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors
