DOMAIN=localhost
FRONTEND_HOST=http://localhost:5173
ENVIRONMENT=local

PROJECT_NAME="Full Stack FastAPI Project"
STACK_NAME=full-stack-fastapi-project

BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173"
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

SMTP_HOST=mailcatcher
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@example.com
SMTP_TLS=False
SMTP_SSL=False
SMTP_PORT=1025

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

SENTRY_DSN=
OSRM_BASE_URL=http://localhost:5000
DROP_PENALTY_HIGH_HOURS=10
DROP_PENALTY_MIDDLE_HOURS=5
DROP_PENALTY_LOW_HOURS=2
SOLVER_TIME_LIMIT_SECONDS=10
RECENT_CONNECTION_DAYS=1

DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
